<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069545887972-ff70s8rak0ns06f3ii77ain1k27hhf8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069545887972-ff70s8rak0ns06f3ii77ain1k27hhf8p</string>
	<key>API_KEY</key>
	<string>AIzaSyC0tNt9bqubePfgr-doncXoKXQaxQb9qSM</string>
	<key>GCM_SENDER_ID</key>
	<string>1069545887972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-proyect-e573a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-proyect-e573a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069545887972:ios:734bebc62381fcb0afb4f1</string>
</dict>
</plist>